.bg--grey {
  background-color: #555459;
}
.tx--grey {
  color: #555459;
}
.bg--gold {
  background-color: #ecbd7c;
}
.tx--gold {
  color: #ecbd7c;
}
@import url("https://fonts.googleapis.com/css?family=Tinos");
@font-face {
  font-family: PFDinDisplayPro;
  src: url("../fonts/PFDinDisplayPro-Med.otf") format("opentype");
}
@font-face {
  font-family: Garamond-Book;
  src: url("../fonts/Garamond-Book.otf") format("opentype");
}
@media (min-width: 1170px) {
  :root {
    --outlineOffset: -60;
    --padding: 60;
    --sectionPadding: 100;
  }
}
@media (max-width: 1170px) {
  :root {
    --outlineOffset: -40;
    --padding: 40;
    --sectionPadding: 80;
  }
}
@media (max-width: 960px) {
  :root {
    --outlineOffset: -30;
    --padding: 30;
    --sectionPadding: 60;
  }
}
@media (max-width: 768px) {
  :root {
    --outlineOffset: -20;
    --padding: 20;
    --sectionPadding: 40;
  }
}
@media (max-width: 480px) {
  :root {
    --outlineOffset: -10;
    --padding: 10;
    --sectionPadding: 40;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Garamond-Book', serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.034em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #555459;
  color: #ecbd7c;
  overflow-x: hidden;
  line-height: 135%;
}
.rus {
  font-family: 'Tinos', serif;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  padding: 100px 0;
  font-size: 36px;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 125%;
}
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 125%;
}
h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 125%;
}
h4 {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 125%;
}
section {
  width: 100%;
  padding: var(--sectionPadding) 0;
  min-height: 60vh;
}
section.bgImage {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}
section#slogan .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container {
  outline: 0px solid #ecbd7c;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  outline-offset: var(--outlineOffset);
  padding: var(--padding);
}
.container .img {
  text-align: center;
  padding: 0 0 100px 0;
}
.container .img img {
  width: 200px;
  height: 200px;
}
.container .content {
  max-width: 600px;
  margin: auto;
  line-height: 170%;
}
.container .content p {
  margin: 10px 0;
  text-indent: 20px;
  text-align: justify;
}
.logosvg {
  max-width: 640px;
}
section#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#logo {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 640px;
}
#logo img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
#nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 200px;
  margin: 15px auto 0 auto;
  width: 100%;
}
#nav.full {
  max-width: 440px;
}
#nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ecbd7c;
  font-family: PFDinDisplayPro;
  font-size: 22;
  font-size: 1.375rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  #nav li {
    font-size: 12;
    font-size: 0.75rem;
  }
}
#nav li.devider {
  width: 100%;
  max-width: 24px;
}
#nav li.devider span {
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #ecbd7c;
}
#nav li a {
  color: inherit;
  font-size: 24;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  letter-spacing: 3px;
  padding: 10px 0;
}
@media (max-width: 768px) {
  #nav li a {
    font-size: 12;
    font-size: 0.75rem;
  }
}
#nav li a:hover,
#nav li a:active,
#nav li a.active {
  color: #fff;
}
#footer {
  text-align: center;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 40px 0;
}
#footer .city {
  margin-bottom: 10px;
}
#footer .copy {
  color: #ecbd7c;
}
#footer .contacts {
  margin: 60px 0;
}
#footer .contacts a {
  color: #ecbd7c;
}
