@font-face {
    font-family: PFDinDisplayPro;
    src:    
        url("../fonts/PFDinDisplayPro-Med.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: PFDinDisplayPro;
}

@media screen {
    #cache img, #cache_mob img{
        position: absolute;
        bottom: -100%;
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #2c2c32;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/city/001_LONDON_HFC.jpg);
    background-size: cover;
    animation: slider 15s ease-in-out 5s infinite;
    animation-fill-mode: both;
    overflow-y: auto;
}
#app.clear {
    background: none;
    animation: none;
    animation-fill-mode: none;
    animation-play-state: paused;
}

#slider {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

#slider.london {
    background-image: url(../images/city/001_LONDON_HFC.jpg);
    animation: london 1s ease-out 0s 1;
}
#slider.geneva {
    background-image: url(../images/city/001_GENEVA_HFC.jpg);
    animation: geneva 1s ease-out 0s 1;
}
#slider.moscow {
    background-image: url(../images/city/003_MOSCOW_HFC.jpg);
    animation: moscow 1s ease-out 0s 1;
}

#scene {
    width: 100%;
    animation: fadeIn 4s ease-in 1s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
    max-width: calc(100vw - 40px);
    max-height: 320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
}

@keyframes slider {
    0% {
        background-image: url(../images/city/001_LONDON_HFC.jpg)
    }
    33% {
        background-image: url(../images/city/001_GENEVA_HFC.jpg)
    }
    66% {
        background-image: url(../images/city/003_MOSCOW_HFC.jpg)
    }
    100% {
        background-image: url(../images/city/001_LONDON_HFC.jpg)
    }
}

@keyframes london {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-image: url(../images/city/l1.png)
    }
}
@keyframes geneva {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-image: url(../images/city/g1.png)
    }
}
@keyframes moscow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-image: url(../images/city/m1.png)
    }
}

#logo {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* min-height: 250px; */
    display: flex;
    align-items: flex-end;
    padding: 20px 0 0;
}

#logo img {
    width: 100%;
    margin: 0 auto;
    max-width: 640px;
}

#nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 440px;
    margin: 10px auto 0 auto;
    width: 100%;
}
#nav li {
    display: flex;
    justify-content: center;
}
#nav li.devider {
    width: 100%;
    max-width: 24px;
}
#nav li.devider span {
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #e4b76a;
}

#nav li a {
    color: #e4b76a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 150%;
    transition: .5s ease;
    letter-spacing: 3px;
    padding: 10px 0;
}

#nav li a:hover, #nav li a:active, #nav li a.active {
    color: #55565a;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 640px) {
    #app {
        background-image: url(../images/city/london_mob1.png);
    }
    #slider.london {
        background-image: url(../images/city/london_mob1.png);
    }
    #slider.geneva {
        background-image: url(../images/city/geneva_mob1.png);
    }
    #slider.moscow {
        background-image: url(../images/city/moscow_mob1.png);
    }

    #logo {
        min-height: auto;
    }
    #logo img  {
        width: 90%;
    }
    #nav li a {
        font-size: 80%;
    }

    @keyframes slider {
        0% {
            background-image: url(../images/city/london_mob1.png)
        }
        33% {
            background-image: url(../images/city/geneva_mob1.png)
        }
        66% {
            background-image: url(../images/city/moscow_mob1.png)
        }
    }

    @keyframes london {
        0% {
            opacity: 0;
            background-color: #2c2c32;
        }
        100% {
            opacity: 1;
            background-image: url(../images/city/london_mob1.png)
        }
    }
    @keyframes geneva {
        0% {
            opacity: 0;
            background-color: #2c2c32;
        }
        100% {
            opacity: 1;
            background-image: url(../images/city/geneva_mob1.png)
        }
    }
    @keyframes moscow {
        0% {
            opacity: 0;
            background-color: #2c2c32;
        }
        100% {
            opacity: 1;
            background-image: url(../images/city/moscow_mob1.png)
        }
    }
} 