extends layout-blocks/layout
block content
  section#header.bgImage(style="background-image: url(./images/city/g2.png)")
    .container
      <div id="logo">
        <img src="./images/000_LOGO_HFC.png" alt="Holding Financial Capital">
      </div>
      <ul id="nav">
        <li class="devider"><span></span></li>
        <li>Geneve</li>
        <li class="devider"><span></span></li>
      </ul>

  section#slogan.bg--gold.tx--grey
    .container
      h1 CONSERVER LA TRADITION <br>ET LES CAPITALES PRINCIPALES
      .img
        img(src="./images/icon1.png")

  section#about.bg--grey.tx--gold
    .container
      h1 Sur la société
      .img
        img(src='./images/icon3.png')
      .content
        p.
          Depuis 2008 Holding Financial Capital gère professionnellement le capital de la société et augmente le capital de ses partenaires.
        p.
          Nous gérons chaque situation financière unique. Grâce à une analyse complète des actifs, la société fournit des solutions répondant aux besoins de chaque partenaire.
        p.
          Au cours de plus de 10 ans, la société travaille sur les marchés mondiaux avec des partenaires de différents pays. Aujourd’hui nous sommes présents  au Royaume-Uni, en Suisse et en Russie. Le siège est situé à Londres et fonctionne conformément à la loi britannique.
        p.
          Nous suivons les meilleures pratiques du private banking mondial (gestion d'actifs et de fortune),  c’est pourquoi notre priorité absolue consiste en conservation de fonds. Nous investissons aux actifs avec un risque minimum, ce qui garantit une grande fiabilité et une stabilité des revenus.
        p.
          Au cours de 10 ans de travail au sein de la direction, nous avons augmenté les actifs en dollars USA de 148%. L’utilisation des stratégies équilibrées qui donnent un rendement net de 10-15% par an permet d’obtenir le résultat pareil.

  section#strength.bg--gold.tx--grey
    .container
      h1 Nos points forts
      .img
        img(src='./images/icon2.png')
      .content
        <br>
        h3 Professionnalisme
        p.
          Nous gérons bien les actifs grâce à une équipe expérimentée de professionnels possédant d'excellentes qualités entrepreneuriales.
        p.
          L'équipe de Holding Financial Capital est composée de spécialistes hautement qualifiés ayant prouvé leur compétence en pratique. Les partenaires de la société ont de l'expérience de travail aux meilleures institutions financières mondiales.
        p.
          Nous n’utilisons que les meilleures technologies  équilibrées d’investissement avec les risques minimums pour atteindre l’objectif de doubler le capital des clients au cours de 5 à 7 ans.
        <br>
        h3 Fiabilité
        p.
          La capitalisation de la société Holding Financial Capital est de 50 millions de livres, présentant une garantie de conservation de fonds  pour chacun des partenaires. En même temps, nous travaillons uniquement avec des contractants ayant fait leurs preuves- les meilleures organisations financières dans des juridictions clés (la Grande-Bretagne, la Suisse, l’UE).
        <br>
        h3 Service de boutique
        p.
          Nous ne cherchons consciemment  pas une croissance extensive active,  en travaillant avec des capitaux importants. Dans notre travail, nous utilisons une approche personnalisée qui nous permet d’adapter les stratégies en fonction des objectifs d’investissement  et de l’appétit pour le risque. Grâce à notre professionnalisme et à notre ouverture, nous prenons rapidement des décisions et adoptons une approche flexible au processus d'investissement.
  
  section.bgImage(style="background-image: url(./images/city/g1.png)")

  section#strategy.bg--gold.tx--grey
    .container
      h1 Notre approche aux stratégies:
      .img
        img(src='./images/icon4.png')
      .content
        p.
          En tant qu'organisation indépendante et responsable, nous soutenons l'idée d'une approche d'investissement à long terme. En respectant une transparence totale, la société utilise le principe de l’architecture ouverte. Nous utilisons nos propres produits d’investissement, ainsi que les produits et services de partenaires soigneusement sélectionnés. Ainsi, nous avons un accès à un choix riche de décisions d’investissement.
        p.
          Une architecture ouverte nous permet de penser de manière large et globale. Nous essayons d’élargir au maximum le champ de vision, de choisir le meilleur de ce que nous sommes en mesure de couvrir, d'analyser, de sélectionner et d'utiliser d’une grande variété de possibilités d'investissement existant dans le monde. Nous réfléchissons d’une manière créative, ne nous limitons pas aux solutions standard et n'essayons pas de prendre le produit fini “prêt à utiliser”.
        p.
          Nous orientons nos partenaires sur un rendement de 100% pendant 5 à 7 ans en réinvestissant le capital fixe et les bénéfices avec un rendement annuel de 10 à 16%.

  section#footer
    .container
      include ./layout-blocks/logo_nav.pug
    .contacts
      .city
        h4 Geneve 
        div Cours de Rive, 11,
        div 1204 Geneve, Suisse
        div +41-22-519-8261
        div <a href="mailto:geneve@hfc.com.ru">geneve@hfc.com.ru</a>

    a(href="/").copy www.hfc.com.ru