<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#e4b76a">
    <link rel="shortcut icon" type="image/png" href="./favicon.png"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Holding Financial Capital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <script src="./js/script.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="slider"></div>

        <div id="scene">
            <div id="cache">
                <img src="./images/000_LOGO_HFC.png"/>
                <img src="./images/city/g2.png">
                <img src="./images/city/l1.png">
                <img src="./images/city/m1.png">
            </div>
            <div id="cache_mob">
                <img src="./images/city/geneva_mob1.png">
                <img src="./images/city/london_mob1.png">
                <img src="./images/city/moscow_mob1.png">
            </div>
        
            <div id="logo">
                <img src="./images/000_LOGO_HFC.png" alt="Holding Financial Capital">
            </div>
            <ul id="nav">
                <li><a href="./london.html" id="london">London</a></li>
                <li class="devider"><span></span></li>
                <li><a href="./geneva.html" id="geneva">Geneve</a></li>
                <li class="devider"><span></span></li>
                <li><a href="./moscow.html" id="moscow">Москва</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
