@import url('https://fonts.googleapis.com/css?family=Tinos');
@font-face 
  font-family: PFDinDisplayPro
  src:
    url("../fonts/PFDinDisplayPro-Med.otf") format("opentype")

@font-face 
  font-family: Garamond-Book
  src:
    url("../fonts/Garamond-Book.otf") format("opentype")


:root
  @media (min-width: screen.L)
    --outlineOffset: -(padding.XL)
    --padding: padding.XL
    --sectionPadding: 100
  @media (max-width: screen.L)
    --outlineOffset: -(padding.L)
    --padding: padding.L
    --sectionPadding: 80
  @media (max-width: screen.ML)
    --outlineOffset: -(padding.ML)
    --padding: padding.ML
    --sectionPadding: 60
  @media (max-width: screen.M)
    --outlineOffset: -(padding.M)
    --padding: padding.M
    --sectionPadding: 40
  @media (max-width: screen.S)
    --outlineOffset: -(padding.S)
    --padding: padding.S
    --sectionPadding: 40

*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body
  font-family: 'Garamond-Book', serif;
  font-size(18px)
  letter-spacing: 0.034em;
  margin 0
  padding 0
  width: 100%
  height: 100%
  background-color: color.grey
  color: color.gold
  overflow-x: hidden
  line-height: 135%;
.rus
  font-family: 'Tinos', serif;

a
  text-decoration none

h1
  text-align center
  padding 100px 0
  font-size(36px)
  @media (max-width: screen.S)
    font-size(28px)
  text-transform uppercase
  line-height 125%
h2
  text-align center
  padding 10px 0
  font-size(28px)
  line-height 125%
h3
  text-align center
  padding 10px 0
  font-size(24px)
  line-height 125%
h4
  text-align center
  padding 10px 0
  font-size(18px)
  line-height 125%

section 
  width 100%
  padding: var(--sectionPadding) 0
  min-height: 70vh;
  &.bgImage
    min-height: 100vh
    display: flex
    background-size: cover
    background-position: center;
  &#slogan
    .container
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

.container
  outline: 0px solid color.gold
  width: 100%
  max-width: screen.L
  margin: 0 auto
  outline-offset: var(--outlineOffset)
  padding: var(--padding)

  .img
    text-align center
    padding 0 0 100px 0
    img
      transform: scale(2);
  
  .content
    max-width: 600px;
    margin: auto;
    line-height: 170%;
    p
      margin: 10px 0
      text-indent: 20px;
      text-align justify
