section#header 
    .container
        height 100vh
        display flex
        flex-flow column nowrap
        justify-content center


#logo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

#logo img {
    width: 100%;
    margin: 0 auto;
    max-width: 640px;
}

#nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px 0 0;
    width: 100%;
}
#nav li {
    display: flex;
    justify-content: center;
}
#nav li.devider {
    width: 100%;
    max-width: 24px;
}
#nav li.devider span {
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #e4b76a;
}

#nav li a {
    color: #e4b76a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: (12px);
    transition: .5s ease;
    letter-spacing: 3px;
    padding: 10px 0;
}

#nav li a:hover, #nav li a:active, #nav li a.active {
    color: #55565a;
}