color = {
  grey : #555459
  gold : #ecbd7c
  // grey : rgba(85, 86, 90, 1) original rgba
  // gold : rgba(228, 175, 106, 1) original rgba
}

screen = {
  S: 480px
  M: 768px
  ML: 960px
  L: 1170px
  XL: 1440px
}

padding = {
  S: 10
  M: 20
  ML: 30
  L: 40
  XL: 60
}

for key, value in color
  .bg--{key}
    background-color value
  .tx--{key}
    color value

remify(size)
  val = size / (size * 0 + 1)
  ((val) / 16)rem

font-size(size)
  font-size size
  val = size / (size * 0 + 1)
  font-size ((val) / 16)rem

@import 'base.styl'
@import 'header.styl'
@import 'footer.styl'