section#footer
  .container
    <div id="logo">
      <img src="./images/000_LOGO_HFC.png" alt="Holding Financial Capital">
    </div>
    <ul id="nav">
      <li><a href="london.html" id="london">London</a></li>
      <li class="devider"><span></span></li>
      <li><a href="geneva.html" id="geneva">Geneva</a></li>
      <li class="devider"><span></span></li>
      <li><a href="moscow.html" id="moscow">Moscow</a></li>
    </ul>
  .contacts
    .city
      h4 London
      div 5 Percy Street,
      div London, Fitzrovia
      div United Kingdom, W1T 1DG
      div +44-20-3514-5591
      div <a href="mailto:london@hfc.com.ru">london@hfc.com.ru</a>
    .city
      h4 Geneve 
      div Cours de Rive, 11,
      div 1204 Geneve, Suisse
      div +41-22-519-8261
      div <a href="mailto:geneve@hfc.com.ru">geneve@hfc.com.ru</a>
    .city
      h4 Москва
      div ул.Никольская,10
      div БЦ «Никольская плаза»
      div +7 (495) 968-61-01
      div <a href="mailto:moscow@hfc.com.ru">moscow@hfc.com.ru</a>

  a(href="/").copy www.hfc.com.ru
