<div id="logo">
    <img src="./images/000_LOGO_HFC.png" alt="Holding Financial Capital">
</div>
<ul id="nav" class="full">
    <li><a href="london.html" id="london">London</a></li>
    <li class="devider"><span></span></li>
    <li><a href="geneva.html" id="geneva">Geneva</a></li>
    <li class="devider"><span></span></li>
    <li><a href="moscow.html" id="moscow">Moscow</a></li>
</ul>